<header class="">
    <div class="left-container">
        <a href="{{ path('index') }}">
            <div class="logo-container">
                <img src="{{ asset('assets/img/logo_blanc.png') }}" alt="" class="img-fluid">
            </div>
        </a>
        <nav>
            <a href="{{ path('bien_index') }}">Trouver une location</a>
            <a href="{{ path('bien_new') }}">Déposer mon annonce</a>
            <a href="">Mes Favoris</a>
        </nav>

    </div>

    <div class="profil">
        <a href="" class="btn rouge">Se connecter</a>
        <a href="" class="btn blanc">S'inscrire</a>
    </div>
</header>