* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.centVH {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #2d64A5;
}
header .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .left-container .logo-container {
  width: 100px;
  margin: 10px;
}
header .left-container .logo-container img {
  width: 100%;
  height: auto;
}
header .left-container nav a {
  color: #F5F9FC;
  text-decoration: none;
  margin-left: 15px;
}
header .left-container nav a:hover {
  text-decoration: underline;
}
header .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .profil a {
  margin-right: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  border-width: 3px;
  border-style: solid;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.btn.btn-pill {
  border-radius: 100px;
}
.btn.btn-carre {
  border-radius: 5px;
}
.btn.btn-blanc {
  border-color: #F5F9FC;
  color: #F5F9FC;
}
.btn.btn-bleu {
  border-color: #2d64A5;
  color: #F5F9FC;
  background-color: #2d64A5;
}
.btn.btn-rouge {
  border-color: #FF5858;
  background-color: #FF5858;
  color: #F5F9FC;
}
.btn.btn-noir {
  border-color: #444444;
  background-color: #444444;
  color: #F5F9FC;
}

.register,
.login {
  background-color: #F5F9FC;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.register .form-area,
.login .form-area {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  min-height: 0;
  padding: 30px;
}
.register .form-area h1,
.login .form-area h1 {
  text-align: center;
  color: #2d64A5;
  margin-bottom: 15px;
  font-size: 2.5em;
}
.register .form-area form input,
.login .form-area form input {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  border: none;
  height: 50px;
  font-size: 1.2em;
  background-color: #F4F2F2;
}
.register .form-area form .remember,
.login .form-area form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.register .form-area form .remember input,
.login .form-area form .remember input {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #F5F9FC;
  border-radius: 100px;
}
.search-form .form-inside-div {
  border-radius: 200px;
  overflow: hidden;
  margin-right: 30px;
}
.search-form .form-inside-div input,
.search-form .form-inside-div select {
  height: calc(2em + 36px);
  border: none;
  background-color: #F4F2F2;
  padding-left: 15px;
  outline: none;
}

.index {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.biensContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.biensContainer .bien {
  margin-top: 25px;
  width: 33.33333%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.biensContainer .bien .thumbnail-container {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.biensContainer .bien a {
  text-decoration: none;
}
.biensContainer .bien h2 {
  color: #2d64A5;
  font-size: 1.4em;
  margin-top: 15px;
}
.biensContainer .bien h3 {
  margin-top: 10px;
}
.biensContainer .bien p:last-of-type {
  margin-top: 10px;
  min-height: 5em;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.biensContainer .bien .btn {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 0.9em;
  justify-self: flex-end;
}

.bien-single .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto 0;
}
.bien-single .top-container .img-container {
  width: 60%;
}
.bien-single .top-container .info-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #F5F9FC;
}
.bien-single .top-container .info-container .pictos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30%;
  color: #2d64A5;
}
.bien-single .top-container .info-container .pictos i {
  font-size: 0.6em;
}
.bien-single .top-container .info-container .pictos i.fa-map-marker-alt {
  font-size: 1.1em;
}
.bien-single .description {
  width: 90%;
  margin: 50px auto 0;
}
.bien-single .description p {
  margin-top: 15px;
}
.bien-single .description p br {
  line-height: 2em;
  margin-top: 20px;
}
.bien-single .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  margin: 50px auto 0;
}
.bien-single .details .detail-container {
  width: 16.6666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.bien-single .details .detail-container .picto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2d64A5;
  padding: 1px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
.bien-single .details .detail-container .picto-container img {
  height: 50%;
  width: auto;
}
.bien-single .details .detail-container span {
  margin-top: 10px;
  font-size: 1.1em;
}
.bien-single .map-container {
  margin-top: 50px;
}

.bien-form {
  background-position: center;
  background-size: cover;
  background-color: #F4F2F2;
}
.bien-form .inner {
  background-color: #F5F9FC;
  width: 70%;
  margin: 50px auto;
  padding: 15px;
}
.bien-form .inner h1 {
  color: #2d64A5;
  text-align: center;
  margin-top: 25px;
}
.bien-form .inner h2 {
  margin-top: 25px;
}
.bien-form .inner form input,
.bien-form .inner form textarea,
.bien-form .inner form select {
  width: 100%;
  border: none;
  height: 50px;
  font-size: 1.2em;
  background-color: #F4F2F2;
  padding-left: 20px;
  margin-top: 15px;
}
.bien-form .inner form .ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bien-form .inner form .ligne div {
  margin-right: 15px;
}
.bien-form .inner form .ligne div:last-of-type {
  margin-left: 0;
}
.bien-form .inner form .ligne .numero {
  width: 20%;
}
.bien-form .inner form .ligne .rue {
  width: 40%;
}
.bien-form .inner form .ligne .complement {
  width: 40%;
}
.bien-form .inner form .ligne .codepostal {
  width: 50%;
  margin-right: 15px;
}
.bien-form .inner form .ligne .ville {
  width: 50%;
}
.bien-form .inner form textarea {
  height: 200px;
}
.bien-form .inner form .img-upload {
  margin-top: 15px;
}
.bien-form .inner form .img-upload input {
  background: none;
}
.bien-form .inner form .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bien-form .inner form .images .img-container {
  margin-top: 15px;
  position: relative;
  width: 16.666666666%;
  height: 100px;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
}
.bien-form .inner form .images .img-container a {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  display: block;
  height: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
  text-align: center;
  background-color: #FF5858;
  border-radius: 1.5em;
  text-decoration: none;
  color: #F5F9FC;
  -webkit-transition: scale 0.3s;
  -o-transition: scale 0.3s;
  transition: scale 0.3s;
}
.bien-form .inner form .caracteristiques .ligne1 {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 50px;
}
.bien-form .inner form .caracteristiques .ligne1 .formRow {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 15px;
  padding-right: 50px;
}
.bien-form .inner form .caracteristiques .ligne1 .formRow label {
  text-align: right;
}
.bien-form .inner form .caracteristiques .ligne1 .formRow input {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-left: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.bien-form .inner form .caracteristiques .ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bien-form .inner form .caracteristiques .ligne2 .selectInput {
  width: 50%;
}
.bien-form .inner form .caracteristiques .ligne2 .selectInput:last-of-type {
  margin-left: 15px;
}
.bien-form .inner form .div-right {
  margin-top: 15px;
}

.profil-page {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.profil-page .profil-user {
  width: 33.3333%;
}
.profil-page .profil-user h2 {
  color: #2d64A5;
  text-align: center;
}
.profil-page .profil-user .email {
  color: #FF5858;
  text-align: center;
}
.profil-page .profil-user .boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  margin: 50px auto 0;
}
.profil-page .profil-user .boutons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  padding: 10px;
  color: #7F8282;
  text-decoration: none;
}
.profil-page .profil-user .boutons a .image-container {
  width: 50px;
}
.profil-page .profil-user .boutons a span {
  text-align: center;
  margin: 0 auto;
}
.profil-page .profil-user .boutons a.active {
  background-color: #2d64A5;
  color: white;
  border-radius: 10px;
}
.profil-page .biensContainer {
  width: 66.6666%;
}
.profil-page .biensContainer .bien {
  width: 50%;
}

footer {
  background-color: #2d64A5;
  padding: 25px;
}

@media (max-width: 900px) {
  header nav {
    display: none;
  }

  .index .div-center {
    width: 95vw;
    margin: 0 auto;
  }

  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  .search-form .form-inside-div {
    border-radius: 10px;
    padding-top: 30px;
    width: 90%;
    margin: 0 auto 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .search-form .form-inside-div input, .search-form .form-inside-div select {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .search-form a {
    margin-bottom: 15px;
  }

  .biensContainer .bien {
    width: 100%;
  }
  .biensContainer .bien p {
    min-height: initial;
  }

  .bien-single .top-container .img-container {
    width: 100%;
  }
  .bien-single .top-container .info-container {
    width: 100%;
    margin-top: 10px;
  }
  .bien-single .top-container .info-container * {
    margin-top: 10px;
  }
  .bien-single .top-container .info-container .btn-container {
    margin-bottom: 10px;
  }
  .bien-single .details {
    width: 90%;
  }
  .bien-single .details .detail-container {
    width: 25%;
  }
  .bien-single .details .detail-container span {
    font-size: 0.9em;
  }

  .login .form-area,
.register .form-area {
    width: 90%;
  }

  .bien-form .inner {
    width: 90%;
  }
  .bien-form .inner .addresse .numero {
    width: 15% !important;
  }
  .bien-form .inner .addresse .complement,
.bien-form .inner .addresse .rue {
    width: 35% !important;
  }
  .bien-form .inner .addresse .codepostal,
.bien-form .inner .addresse .ville {
    width: 45% !important;
  }
  .bien-form .inner .details .ligne {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .bien-form .inner .details .ligne > * {
    width: 45%;
  }
  .bien-form .inner .images {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bien-form .inner .images .img-container {
    width: 33.3333% !important;
    padding-right: 15px;
  }
  .bien-form .inner .images .img-container a {
    z-index: 99;
  }
  .bien-form .inner .caracteristiques .ligne1 .formRow {
    width: 50% !important;
  }

  .profil-page .profil-user {
    width: 90%;
    margin: 0 auto;
  }
  .profil-page .profil-user .boutons {
    margin-top: 10px;
  }
  .profil-page .biensContainer {
    width: 90%;
  }
  .profil-page .biensContainer .bien {
    width: 100%;
  }
  .profil-page .biensContainer .bien p {
    min-height: initial;
  }
}

/*# sourceMappingURL=style.css.map */
