* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.centVH {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  background-color: #2d64A5;
}
header .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .left-container .logo-container {
  width: 7rem;
  margin: 1rem;
}
header .left-container .logo-container img {
  width: 100%;
  height: auto;
}
header .left-container nav a {
  color: #F5F9FC;
  text-decoration: none;
  margin-left: 1rem;
}
header .left-container nav a:hover {
  text-decoration: underline;
}
header .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .profil a {
  margin-right: 1rem;
}
header .burger-div {
  display: none;
}
header .responsive {
  display: none;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-width: 3px;
  border-style: solid;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.btn.btn-pill {
  border-radius: 100px;
}
.btn.btn-carre {
  border-radius: 0.3rem;
}
.btn.btn-blanc {
  border-color: #F5F9FC;
  color: #F5F9FC;
}
.btn.btn-bleu {
  border-color: #2d64A5;
  color: #F5F9FC;
  background-color: #2d64A5;
}
.btn.btn-rouge {
  border-color: #FF5858;
  background-color: #FF5858;
  color: #F5F9FC;
}
.btn.btn-noir {
  border-color: #444444;
  background-color: #444444;
  color: #F5F9FC;
}

.register,
.login {
  background-color: #F5F9FC;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.register .form-area,
.login .form-area {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  min-height: 0;
  padding: 2rem;
}
.register .form-area h1,
.login .form-area h1 {
  text-align: center;
  color: #2d64A5;
  margin-bottom: 1rem;
  font-size: 2.5em;
}
.register .form-area form input,
.login .form-area form input {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  border: none;
  height: 3rem;
  font-size: 1.2em;
  background-color: #F4F2F2;
}
.register .form-area form .remember,
.login .form-area form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.register .form-area form .remember input,
.login .form-area form .remember input {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 1rem;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #F5F9FC;
  border-radius: 100px;
}
.search-form .form-inside-div {
  border-radius: 200px;
  overflow: hidden;
  margin-right: 2rem;
}
.search-form .form-inside-div input,
.search-form .form-inside-div select {
  height: calc(2em + 36px);
  border: none;
  background-color: #F4F2F2;
  padding-left: 1rem;
  outline: none;
}

.index {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.biensContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.biensContainer .bien {
  margin-top: 1.5rem;
  width: 33.33333%;
  padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.biensContainer .bien .thumbnail-container {
  height: 13rem;
  background-size: cover;
  background-position: center;
}
.biensContainer .bien a {
  text-decoration: none;
}
.biensContainer .bien h2 {
  color: #2d64A5;
  font-size: 1.4em;
  margin-top: 1rem;
}
.biensContainer .bien h3 {
  margin-top: 0.6rem;
}
.biensContainer .bien p:last-of-type {
  margin-top: 0.6rem;
  min-height: 5em;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.biensContainer .bien .btn {
  margin-right: 1rem;
  margin-top: 0.6rem;
  font-size: 0.9em;
  justify-self: flex-end;
}

.bien-single .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto 0;
}
.bien-single .top-container .img-container {
  width: 60%;
}
.bien-single .top-container .info-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #F5F9FC;
}
.bien-single .top-container .info-container .pictos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30%;
  color: #2d64A5;
}
.bien-single .top-container .info-container .pictos i {
  font-size: 0.6em;
}
.bien-single .top-container .info-container .pictos i.fa-map-marker-alt {
  font-size: 1.1em;
}
.bien-single .description {
  width: 90%;
  margin: 50px auto 0;
  font-size: 1rem;
}
.bien-single .description p {
  margin-top: 3rem;
}
.bien-single .description p br {
  line-height: 2em;
  margin-top: 20px;
}
.bien-single .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  margin: 3rem auto 0;
}
.bien-single .details .detail-container {
  width: 16.6666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.bien-single .details .detail-container .picto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2d64A5;
  padding: 1px;
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
}
.bien-single .details .detail-container .picto-container img {
  height: 50%;
  width: auto;
}
.bien-single .details .detail-container span {
  margin-top: 0.6rem;
  font-size: 1.1em;
  text-align: center;
  display: block;
}
.bien-single .map-container {
  height: 400px;
  width: 100%;
  margin-top: 3rem;
}

.bien-form {
  background-position: center;
  background-size: cover;
  background-color: #F4F2F2;
}
.bien-form .inner {
  background-color: #F5F9FC;
  width: 70%;
  margin: 50px auto;
  padding: 1rem;
}
.bien-form .inner h1 {
  color: #2d64A5;
  text-align: center;
  margin-top: 1.5rem;
}
.bien-form .inner h2 {
  margin-top: 1.5rem;
}
.bien-form .inner form input,
.bien-form .inner form textarea,
.bien-form .inner form select {
  width: 100%;
  border: none;
  height: 3rem;
  font-size: 1.2em;
  background-color: #F4F2F2;
  padding-left: 1.25rem;
  margin-top: 1rem;
}
.bien-form .inner form .ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bien-form .inner form .ligne div {
  margin-right: 1rem;
}
.bien-form .inner form .ligne div:last-of-type {
  margin-left: 0;
}
.bien-form .inner form .ligne .numero {
  width: 15%;
}
.bien-form .inner form .ligne .rue {
  width: 40%;
}
.bien-form .inner form .ligne .complement {
  width: 40%;
}
.bien-form .inner form .ligne .codepostal {
  width: 48%;
}
.bien-form .inner form .ligne .ville {
  width: 48%;
}
.bien-form .inner form textarea {
  height: 12rem;
}
.bien-form .inner form .img-upload {
  margin-top: 1rem;
}
.bien-form .inner form .img-upload input {
  background: none;
}
.bien-form .inner form .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bien-form .inner form .images .img-container {
  margin-top: 1rem;
  position: relative;
  width: 16.666666666%;
  height: 6rem;
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
}
.bien-form .inner form .images .img-container a {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  display: block;
  height: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
  text-align: center;
  background-color: #FF5858;
  border-radius: 1.5em;
  text-decoration: none;
  color: #F5F9FC;
  -webkit-transition: scale 0.3s;
  -o-transition: scale 0.3s;
  transition: scale 0.3s;
}
.bien-form .inner form .caracteristiques .ligne1 {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 3rem;
}
.bien-form .inner form .caracteristiques .ligne1 .formRow {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 3rem;
}
.bien-form .inner form .caracteristiques .ligne1 .formRow label {
  text-align: right;
}
.bien-form .inner form .caracteristiques .ligne1 .formRow input {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0;
  margin-left: 1rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.bien-form .inner form .caracteristiques .ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bien-form .inner form .caracteristiques .ligne2 .selectInput {
  width: 50%;
}
.bien-form .inner form .caracteristiques .ligne2 .selectInput:last-of-type {
  margin-left: 1rem;
}
.bien-form .inner form .div-right {
  margin-top: 1rem;
}

.profil-page {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.profil-page .profil-user {
  width: 33.3333%;
}
.profil-page .profil-user h2 {
  color: #2d64A5;
  text-align: center;
}
.profil-page .profil-user .email {
  color: #FF5858;
  text-align: center;
}
.profil-page .profil-user .boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  margin: 3rem auto 0;
}
.profil-page .profil-user .boutons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6rem;
  padding: 0.6rem;
  color: #7F8282;
  text-decoration: none;
}
.profil-page .profil-user .boutons a .image-container {
  width: 3rem;
}
.profil-page .profil-user .boutons a span {
  text-align: center;
  margin: 0 auto;
}
.profil-page .profil-user .boutons a.active {
  background-color: #2d64A5;
  color: white;
  border-radius: 0.6rem;
}
.profil-page .biensContainer {
  width: 66.6666%;
}
.profil-page .biensContainer .bien {
  width: 50%;
}

footer {
  background-color: #2d64A5;
  padding: 4rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 32px;
  }

  header {
    position: relative;
  }
  header nav {
    display: none;
  }
  header .profil {
    display: none;
  }
  header .burger-div {
    margin-right: 2rem;
    display: inline-flex;
    width: 4rem;
    height: 3rem;
    flex-direction: column;
    justify-content: space-between;
  }
  header .burger-div .slice {
    background-color: #F5F9FC;
    height: 20%;
    border-radius: 3rem;
  }
  header .responsive {
    position: absolute;
    bottom: 0;
    transform: translateY(99%);
    width: 100%;
    background-color: #2d64A5;
    z-index: 9999;
  }
  header .responsive .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .responsive .inner nav {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }
  header .responsive .inner nav a {
    color: #F5F9FC;
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 1rem;
  }
  header .responsive .inner nav a:hover {
    text-decoration: underline;
  }
  header .responsive .inner .profil {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .index .div-center {
    width: 95vw;
    margin: 0 auto;
  }

  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
    border-radius: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .search-form .form-inside-div {
    border-radius: 0.6rem;
    padding-top: 2rem;
    width: 90%;
    margin: 0 auto 0.6rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .search-form .form-inside-div input, .search-form .form-inside-div select {
    margin-bottom: 0.6rem;
    border-radius: 0.3rem;
    font-size: 1rem;
  }
  .search-form a {
    margin-bottom: 1rem;
  }

  .biensContainer .bien {
    width: 100%;
  }
  .biensContainer .bien p {
    min-height: initial;
  }

  .bien-single .top-container .img-container {
    width: 100%;
  }
  .bien-single .top-container .info-container {
    width: 100%;
    margin-top: 0.6rem;
  }
  .bien-single .top-container .info-container * {
    margin-top: 0.6rem;
  }
  .bien-single .top-container .info-container .btn-container {
    margin-bottom: 0.6rem;
  }
  .bien-single .details {
    width: 90%;
  }
  .bien-single .details .detail-container {
    width: 25%;
  }
  .bien-single .details .detail-container span {
    font-size: 0.9em;
  }
  .bien-single .map-container {
    height: 70vh;
  }

  .login .form-area,
.register .form-area {
    width: 90%;
  }

  .bien-form .inner {
    width: 90%;
  }
  .bien-form .inner .addresse .numero {
    width: 15% !important;
  }
  .bien-form .inner .addresse .complement,
.bien-form .inner .addresse .rue {
    width: 35% !important;
  }
  .bien-form .inner .addresse .codepostal,
.bien-form .inner .addresse .ville {
    width: 45% !important;
  }
  .bien-form .inner .details .ligne {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .bien-form .inner .details .ligne > * {
    width: 45%;
  }
  .bien-form .inner .images {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bien-form .inner .images .img-container {
    width: 33.3333% !important;
    padding-right: 1rem;
  }
  .bien-form .inner .images .img-container a {
    z-index: 99;
  }
  .bien-form .inner .caracteristiques .ligne1 .formRow {
    width: 50% !important;
  }

  .profil-page .profil-user {
    width: 90%;
    margin: 0 auto;
  }
  .profil-page .profil-user .boutons {
    margin-top: 0.6rem;
  }
  .profil-page .biensContainer {
    width: 90%;
  }
  .profil-page .biensContainer .bien {
    width: 100%;
  }
  .profil-page .biensContainer .bien p {
    min-height: initial;
  }
}

/*# sourceMappingURL=style.css.map */
