//$bleu: #4d7cfe;
$bleu: #2d64A5;
$blancCasse: #F5F9FC;
$rouge: #FF5858;
$noir: #444444;
$gris: #F4F2F2;
$grisProfil: #7F8282;
$montserrat: 'Montserrat', sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin sm {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 767.98px) {
    @content
  }
}

@mixin lg {
  @media (max-width: 991.98px) {
    @content
  }
}

@mixin xl {
  @media (max-width: 1199.98px) {
    @content
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $montserrat;

}

.centVH {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-left {
  display: flex;
}

.div-right {
  display: flex;
  justify-content: flex-end;
}

.div-center {
  display: flex;
  justify-content: center;
}

// --------------------------------------------------------------------
// HEADER
header {
  display: flex;
  justify-content: space-between;
  background-color: $bleu;

  .left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo-container {
      width: 100px;
      margin: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }

    nav {

      a {
        color: $blancCasse;
        text-decoration: none;
        margin-left: 15px;


        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .profil {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 15px;
    }
  }
}

// FIN HEADER
// --------------------------------------------------------------------
// BOUTONS
.btn {
  display: inline-block;
  padding: 15px 40px;
  border-width: 3px;
  border-style: solid;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-align: center;

  &:hover {
    transform: scale(1.05)
  }

  &.btn-pill {
    border-radius: 100px;
  }

  &.btn-carre {
    border-radius: 5px;
  }

  &.btn-blanc {
    border-color: $blancCasse;
    color: $blancCasse
  }

  &.btn-bleu {
    border-color: $bleu;
    color: $blancCasse;
    background-color: $bleu;
  }

  &.btn-rouge {
    border-color: $rouge;
    background-color: $rouge;
    color: $blancCasse
  }

  &.btn-noir {
    border-color: $noir;
    background-color: $noir;
    color: $blancCasse;
  }
}

// FIN BOUTONS
// --------------------------------------------------------------------
// REGISTER & LOGIN
.register,
.login {
  background-color: $blancCasse;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;

  .form-area {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    min-height: 0;
    padding: 30px;

    h1 {
      text-align: center;
      color: $bleu;
      margin-bottom: 15px;
      font-size: 2.5em;
    }

    form {
      input {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        border: none;
        height: 50px;
        font-size: 1.2em;
        background-color: $gris;
      }

      .remember {
        display: flex;
        justify-content: flex-end;

        input {
          height: 20px;
          width: 20px;
          margin-right: 15px;
        }
      }
    }
  }
}

//FIN REGISTER & LOGIN
// --------------------------------------------------------------------
// SEARCH-FORM
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blancCasse;
  border-radius: 100px;

  .form-inside-div {
    border-radius: 200px;
    overflow: hidden;
    margin-right: 30px;

    input,
    select {
      height: calc(2em + 36px);
      border: none;
      background-color: $gris;
      padding-left: 15px;
      outline: none;
    }
  }
}

// FIN SEARCH-FORM
// --------------------------------------------------------------------
// INDEX
.index {
  flex: auto;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

// FIN INDEX
// --------------------------------------------------------------------
// BIENS CONTAINER
.biensContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 0;
  justify-content: flex-start;

  .bien {
    margin-top: 25px;
    width: 33.33333%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .thumbnail-container {
      height: 200px;
      background-size: cover;
      background-position: center;
    }

    a {
      text-decoration: none;
    }

    h2 {
      color: $bleu;
      font-size: 1.4em;
      margin-top: 15px;
    }

    h3 {
      margin-top: 10px;
    }

    p:last-of-type {
      margin-top: 10px;
      min-height: 5em;
      flex: 1 0 auto;
    }

    .btn {
      margin-right: 15px;
      margin-top: 10px;
      font-size: 0.9em;
      justify-self: flex-end;
    }
  }
}

// FIN BIENS CONTAINER
// --------------------------------------------------------------------
// BIEN SINGLE
.bien-single {
  .top-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto 0;

    .img-container {
      width: 60%;
    }

    .info-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-color: $blancCasse;

      .pictos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        color: $bleu;

        i {
          font-size: 0.6em;

          &.fa-map-marker-alt {
            font-size: 1.1em;
          }
        }
      }

      h1 {
      }

      h2 {
      }

      p.ville {
      }

      p.prix {
      }

      .btn-container {
      }
    }
  }

  .description {
    width: 90%;
    margin: 50px auto 0;

    p {
      margin-top: 15px;

      br {
        line-height: 2em;
        margin-top: 20px;
      }
    }
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 50px auto 0;

    .detail-container {
      width: 16.6666%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      .picto-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bleu;
        padding: 1px;
        $pictosize: 60px;
        height: $pictosize;
        width: $pictosize;
        border-radius: 100px;

        img {
          height: 50%;
          width: auto;
        }
      }

      span {
        margin-top: 10px;
        font-size: 1.1em;
      }
    }
  }

  .map-container {
    margin-top: 50px;
  }
}

// FIN BIEN SINGLE
// --------------------------------------------------------------------
// BIEN FORM
.bien-form {
  background-position: center;
  background-size: cover;
  background-color: $gris;

  .inner {
    background-color: $blancCasse;
    width: 70%;
    margin: 50px auto;
    padding: 15px;

    h1 {
      color: $bleu;
      text-align: center;
      margin-top: 25px;
    }

    h2 {
      margin-top: 25px;
    }

    form {
      input,
      textarea,
      select {
        width: 100%;
        border: none;
        height: 50px;
        font-size: 1.2em;
        background-color: $gris;
        padding-left: 20px;
        margin-top: 15px;
      }

      .ligne {
        display: flex;
        flex-wrap: wrap;

        div {
          margin-right: 15px;

          &:last-of-type {
            margin-left: 0;
          }
        }

        .numero {
          width: 20%;
        }

        .rue {
          width: 40%;
        }

        .complement {
          width: 40%
        }

        .codepostal {
          width: 50%;
          margin-right: 15px;
        }

        .ville {
          width: 50%;
        }
      }

      textarea {
        height: 200px;
      }

      .img-upload {
        margin-top: 15px;

        input {
          background: none;
        }
      }

      .images {
        display: flex;
        flex-wrap: wrap;

        .img-container {
          margin-top: 15px;
          position: relative;
          width: 16.666666666%;
          height: 100px;
          background-position: center;
          background-size: cover;
          margin-right: 15px;


          a {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(50%, 50%);
            display: block;
            height: 1.5em;
            line-height: 1.5em;
            width: 1.5em;
            text-align: center;
            background-color: $rouge;
            border-radius: 1.5em;
            text-decoration: none;
            color: $blancCasse;
            transition: scale 0.3s;

            &:hover {
            }
          }
        }
      }

      .caracteristiques {
        .ligne1 {
          margin-top: 15px;
          display: flex;
          flex-wrap: wrap;
          padding: 0 50px;

          .formRow {
            width: 33.3333%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 15px;
            padding-right: 50px;

            label {
              text-align: right;
            }

            input {
              width: 20px;
              height: 20px;
              margin-top: 0;
              margin-left: 15px;
              flex-shrink: 0;
            }
          }
        }

        .ligne2 {
          display: flex;

          .selectInput {
            width: 50%;

            &:last-of-type {
              margin-left: 15px;
            }
          }
        }
      }

      .div-right {
        margin-top: 15px;
      }
    }
  }
}

//FIN BIEN FORM
// --------------------------------------------------------------------
// PROFIL
.profil-page {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;

  .profil-user {
    width: 33.3333%;

    h2 {
      color: $bleu;
      text-align: center;
    }

    .email {
      color: $rouge;
      text-align: center;
    }

    .boutons {
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: 50px auto 0;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        padding: 10px;
        color: $grisProfil;
        text-decoration: none;

        .image-container {
          width: 50px;

          img {
          }
        }

        span {
          text-align: center;
          margin: 0 auto;
        }

        &.active {
          background-color: $bleu;
          color: white;
          border-radius: 10px;
        }
      }
    }
  }

  .biensContainer {
    width: 66.6666%;

    .bien {
      width: 50%;
    }
  }
}

// FIN PROFIL
// --------------------------------------------------------------------
// FOOTER
footer {
  background-color: $bleu;
  padding: 25px;
}

// FIN FOOTER

@media (max-width: 900px) {
  header {
    nav {
      display: none;
    }
  }

  .index {
    .div-center {
      width: 95vw;
      margin: 0 auto;
    }
  }

  .search-form {
    flex-direction: column;
    width: 95%;
    border-radius: 10px;
    padding-bottom: 10px;

    .form-inside-div {
      border-radius: 10px;
      padding-top: 30px;
      width: 90%;
      margin: 0 auto 10px auto;
      display: flex;
      flex-direction: column;

      input, select {
        margin-bottom: 10px;
        border-radius: 5px;
      }
    }

    a {
      margin-bottom: 15px;
    }
  }

  .biensContainer {
    .bien {
      width: 100%;

      p {
        min-height: initial;
      }
    }
  }

  .bien-single {
    .top-container {

      .img-container {
        width: 100%;
      }

      .info-container {
        width: 100%;
        margin-top: 10px;

        * {
          margin-top: 10px;
        }

        .btn-container {
          margin-bottom: 10px;
        }
      }
    }

    .details {
      width: 90%;

      .detail-container {
        width: 25%;

        span {
          font-size: 0.9em;
        }
      }
    }
  }

  .login,
  .register {
    .form-area {
      width: 90%;
    }
  }

  .bien-form {
    .inner {
      width: 90%;

      .addresse {
        .numero {
          width: 15% !important;
        }

        .complement,
        .rue {
          width: 35% !important;
        }

        .codepostal,
        .ville {
          width: 45% !important;
        }
      }

      .details {
        .ligne {
          justify-content: space-between;

          & > * {
            width: 45%;
          }
        }
      }

      .images {
        justify-content: center;

        .img-container {
          width: 33.3333% !important;
          padding-right: 15px;

          a {
            z-index: 99;
          }
        }
      }

      .caracteristiques {
        .ligne1 {
          .formRow {
            width: 50% !important;
          }
        }
      }
    }
  }

  .profil-page {
    .profil-user {
      width: 90%;
      margin: 0 auto;

      .boutons {
        margin-top: 10px;
      }
    }

    .biensContainer {
      width:90%;
      .bien {
        width: 100%;
        p {
          min-height: initial;
        }
      }
    }
  }


  // FIN @MEDIA
}

