{% extends 'base.html.twig' %}

{% block title %}Edit Bien{% endblock %}

{% block body %}
    <div class="bien-form" style="background-image: url('{{ asset('assets/img/map-grayscale.svg') }}')">
        <div class="inner">
            <h1>Modifier le bien</h1>

            {{ include('bien/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('bien/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
