{% extends 'base.html.twig' %}

{% block title %}Créer un bien{% endblock %}

{% block body %}
    <div class="bien-form" style="background-image: url('{{ asset('assets/img/map-grayscale.svg') }}')">
        <div class="inner">
            <h1>Créez un nouveau bien</h1>

            {{ include('bien/_form.html.twig', {'button_label': 'Créez'}) }}


        </div>
    </div>
{% endblock %}
