{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur MonAgenceImmo{% endblock %}
{% block body %}
    <div class="search-section index"
         style="background-image: url('{{ asset('assets/img/mon-agence-immo.jpg') }}')">
        <div class="div-center">
            {% include '_partials/search_form.html.twig' %}
        </div>
    </div>

{% endblock %}



